<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <title>Task Details</title>
  </head>
  <body class="container">
    <h1>{{ task.heading }}</h1>
    <p><strong>Description:</strong> {{ task.description }}</p>
    <p><strong>Completed:</strong> {{ task.completed|yesno:"Yes,No" }}</p>
    <p><strong>Due:</strong> {{ task.due }}</p>
    <p><strong>Created:</strong> {{ task.created }}</p>
    <p><strong>Last Modified:</strong> {{ task.modified }}</p>
    <p><strong>Category:</strong> {{ task.category.name }}</p>
    <a href="{% url 'task_list' %}" class="btn btn-primary">Back to Task List</a>
  </body>
</html>
